@{
    ViewData["Title"] = "Términos de Servicio y Privacidad";
}
<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-sm border-0">
        <div class="card-body p-4">
            <h4 class="text-primary">1. Uso del Servicio</h4>
            <p>Esta página web es un proyecto académico simulado. No se ofrecen servicios reales de "Elo Boosting" para League of Legends ni se realizan transacciones económicas de ningún tipo. pero si los ocupas te dejo mi número: +52 8117896930</p>

            <h4 class="text-primary mt-4">2. Privacidad de los Datos</h4>
            <p>No hay privacidad, todos tus datos serán usados para entrenar una AI que solo te va a estar recomendando cosas todo el tiempo. :)</p>

            <h4 class="text-primary mt-4">3. Afiliación</h4>
            <p>Compré Riot Games así que el lol y lo que se venda de esta página es 100% mío</p>
        </div>
    </div>
</div>